@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&subset=cyrillic');

body {
  font-family: 'Exo 2', 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', 'Lucida Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

table,
td,
th {
  border: #d3d3d3 1px dotted;
}
td,
th {
  padding: 2px 6px;
}
table {
  padding: 1px;
}
