/* Contextual links */
div[data-contextual-id] {
  position: absolute;
}
.contextual-region.focus {
  outline: 5px dashed #989898;
  outline-offset: -2px;
}
.contextual .trigger {
  min-width: initial;
  min-height: initial;
  box-shadow: none;

  &::before,
  &::after {
    display: none;
  }
}
.contextual-links {
  li::before {
    display: none !important;
  }
  a {
    display: block !important;
    width: initial !important;
    height: initial !important;
    border: none !important;
    border-radius: initial !important;
    text-transform: initial !important;
  }
}

/* Local tasks */
.local-tasks {
  font-size: var(--local-task--font-size);

  ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li::before {
    display: none;
  }
  a,
  a:visited {
    display: block;
    padding: 5px 10px;
    background: var(--local-task--background-color);
    font-weight: normal;
    text-decoration: none;
    color: var(--local-task--text-color);
  }
  a:hover {
    background: var(--local-task--background-color-hover);
    color: var(--local-task--text-color-hover);
    text-decoration: none;
  }
  a.is-active,
  a.is-active-trail {
    background: var(--local-task--background-color-active);
    color: var(--local-task--text-color-active);
    text-decoration: none;
  }
}

/* Status messages */
.status-message {
  @include remove-extreme-margin(bottom);
  margin-bottom: 20px;
  padding: 15px 20px 15px 40px;
  background: no-repeat 1.2em 1.2em;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-radius: 0 2px 2px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &--status {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    background-image: url(../../../core/misc/icons/73b355/check.svg);
    box-shadow: inset 8px 0 0 #77b259;
  }
  &--warning {
    background-color: #fdf8ed;
    background-image: url(../../../core/misc/icons/e29700/warning.svg);
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
    color: #734c00;
    box-shadow: inset 8px 0 0 #e09600;
  }
  &--error {
    background-color: #fcf4f2;
    color: #a51b00;
    background-image: url(../../../core/misc/icons/e32700/error.svg);
    border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
    box-shadow: inset 8px 0 0 #e62600;
  }
  & > ul {
    @include remove-extreme-margin();
    padding-left: 20px;
  }
}

/* Kint */
.kint {
  & > footer {
    display: none;
  }
  pre {
    white-space: pre-line;
  }
}

/* Fix bug with vertical scroll */
#drupal-live-announce.visually-hidden {
  top: 0;
  left: 0;
}
