.float-left {
  float: left;
}
.float-right {
  float: right;
}

.align-left {
  float: left;
  margin: 0.4em var(--gutter-width) var(--gutter-width) 0;
}
.align-right {
  float: right;
  margin: 0.4em 0 var(--gutter-width) var(--gutter-width);
}
.align-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}
.no-border {
  border: none;
}
.no-br {
  white-space: nowrap;
}
.no-text-decoration {
  text-decoration: none;
}
.overflow-hidden {
  overflow: hidden;
}
