.table,
.views-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.views-table th {
  background: #F3F3F3;
}

.table th,
.table td,
.views-table th,
.views-table td {
  padding: 5px 7px;
  border: 1px solid #C8C8C8;
}
