p {
  margin: 1em 0;
}

.table {
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.table th {
  background: #F3F3F3;
}
.table th,
.table td {
  padding: 5px 7px;
  border: 1px solid #C8C8C8;
}

/*# sourceMappingURL=mail.css.map */
