{% if not without_wrapper %}
  <div{{ attributes }}>
{% endif %}

  {{ content.field_image }}
  <div class="{{ html_class }}__content">
    {{ content.field_title }}
    {{ content|without('field_image', 'field_title') }}
  </div>

{% if not without_wrapper %}
  </div>
{% endif %}
