{% if breadcrumb %}
  <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for index, item in breadcrumb %}
      <li class="breadcrumb__item"{% if item.url %} itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"{% endif %}>
        {% if item.url %}
          <a class="breadcrumb__link" href="{{ item.url }}" itemprop="item"><span itemprop="name">{{ item.text }}</span></a>
          <meta itemprop="position" content="{{ index + 1 }}">
        {% else %}
          <span class="breadcrumb__link breadcrumb__link--text"><span itemprop="name">{{ item.text }}</span></span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
