{{ attach_library('fancybox_ui/fancybox') }}

{% set attributes = create_attribute({
  'href': image_uri,
  'data-src': image_uri,
  'class': [other_data.wrapper_class],
  'data-fancybox': other_data.group,
  'data-caption': other_data.caption,
}) %}

<a {{ attributes }}>{{ image }}</a>
