<div{{ attributes }}>
  {# Label #}
  {% if (not label_hidden and label) %}
    <{{ tag }}{{ title_attributes.addClass(html_class ~ '-label') }}>{{ label }}{{ label_colon }}</{{ tag }}>
  {% endif %}

  {# Items wrapper #}
  {% if not label_hidden %}
    <{{ tag }} class="{{ html_class }}-items">
  {% endif %}

  {# Items #}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}

  {# Items wrapper #}
  {% if not label_hidden %}
    </{{ tag }}>
  {% endif %}
</div>
