{% set attributes = attributes.removeClass(['fieldgroup', 'required']) %}

{%
  set classes = [
    element['#states'] ? 'js-form-item',
    element['#states'] ? 'js-form-wrapper',
  ]
%}

<fieldset{{ attributes.addClass(classes) }}>
  {%
    set legend_span_classes = [
      'fieldset__legend',
      required ? 'form-required',
    ]
  %}
  <legend{{ legend.attributes }}>
    <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
  </legend>

  <div class="fieldset__content">
    {% if errors %}
      <div>{{ errors }}</div>
    {% endif %}

    {% if prefix %}
      <span class="fieldset__field-prefix">{{ prefix }}</span>
    {% endif %}

    {{ children }}

    {% if suffix %}
      <span class="fieldset__field-suffix">{{ suffix }}</span>
    {% endif %}

    {% if description.content %}
      <div{{ description.attributes.addClass('fieldset__description') }}>{{ description.content }}</div>
    {% endif %}
  </div>
</fieldset>
