{%
  set classes = [
    'form-item__label',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {{- title -}}
    {% if required %} <span class="form-item__required-symbol">*</span>{% endif -%}
  </label>
{%- endif %}
