{%
  set classes = [
    'form-item',
    name ? 'form-item--' ~ name|clean_class,
    name ? 'form-item--type-' ~ type|clean_class,
    disabled == 'disabled' ? 'form-item--disabled',
    errors ? 'form-item--error',
    element['#states'] ? 'js-form-item',
  ]
%}
{%
  set description_classes = [
    'form-item__description',
    description_display == 'invisible' ? 'visually-hidden',
  ]
%}

<div class="{{ attributes.addClass(classes).class }}"{{ attributes|without('class') }}>
  {# Label #}
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {# Prefix #}
  {% if prefix is not empty %}
    <span class="form-item__prefix">{{ prefix }}</span>
  {% endif %}

  {# Description #}
  {% if description_display == 'before' and description.content %}
    <div{{ description.attributes.addClass(description_classes) }}>
      {{ description.content }}
    </div>
  {% endif %}

  {# Field #}
  {{ children }}

  {# Suffix #}
  {% if suffix is not empty %}
    <span class="form-item__suffix">{{ suffix }}</span>
  {% endif %}

  {# Label #}
  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {# Errors #}
  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  {# Description #}
  {% if description_display in ['after', 'invisible'] and description.content %}
    <div{{ description.attributes.addClass(description_classes) }}>
      {{ description.content }}
    </div>
  {% endif %}
</div>
