{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  {% if element['#use_inner'] %}
    <div class="{{ html_class }}__inner form-inner">
  {% endif %}

  {{ children }}

  {% if element['#use_inner'] %}
    </div>
  {% endif %}
</form>
