<div class="local-tasks">
  {% if primary %}
    <ul class="local-tasks__primary">{{ primary }}</ul>
  {% endif %}

  {% if secondary %}
    <ul class="local-tasks__secondary">{{ secondary }}</ul>
  {% endif %}
</div>
