<div{{ attributes.addClass('layout') }}>
  {{ page.header }}
  {{ page.highlighted }}

  <div class="layout__main">
    <div class="layout__main-inner">
      {{ page.content }}
      {{ page.sidebar_first }}
      {{ page.sidebar_second }}
    </div>
  </div>

  {{ page.footer }}
</div>
