{{ title_prefix }}

{% if title %}
  <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
{% endif %}

{% if subtitle %}
  {% set subtitle_attributes = create_attribute(subtitle_attributes) %}
  <div{{ subtitle_attributes.addClass('page-subtitle') }}>{{ subtitle }}</div>
{% endif %}

{{ title_suffix }}
