{% if content %}
  {% set layout_class = 'layout__' ~ region|clean_class %}
  {% set classes = [layout_class, html_class] %}

  <div{{ attributes.addClass(classes) }}>
    <div class="{{ layout_class }}-inner {{ html_class }}__inner">
      {{ content }}
    </div>
  </div>
{% endif %}
