<div class="status-messages" data-drupal-messages>
  {% for type, messages in message_list %}
    {% set classes = ['status-message', 'status-message--' ~ type] %}

    <div{{ attributes.addClass(classes) }}>
      {% if messages|length > 1 %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>

    {% set attributes = attributes.removeClass(classes) %}
  {% endfor %}
</div>
