{#
/**
 * @file
 * Default theme implementation for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 *
 * @ingroup themeable
 */
#}
{% set use_wrapper = wrapper_attributes|length > 0 %}

{% if use_wrapper %}<div{{ wrapper_attributes }}>{% endif %}
  <textarea{{ attributes }}>{{ value }}</textarea>
{% if use_wrapper %}</div>{% endif %}
