{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if title %}
    <div class="{{ html_class }}__title">
      {{ title }}
    </div>
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="{{ html_class }}__header">
      {{ header }}
    </div>
  {% endif %}

  {% if exposed %}
    <div class="{{ html_class }}__exposed-form">
      {{ exposed }}
    </div>
  {% endif %}

  {% if attachment_before %}
    <div class="{{ html_class }}__attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div{{ content_attributes }}>
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="{{ html_class }}__empty">
      {{ empty }}
    </div>
  {% endif %}

  {% set pager = pager|render %}
  {% if pager %}
    <div class="{{ html_class }}__pager">
      {{ pager }}
    </div>
  {% endif %}

  {% if attachment_after %}
    <div class="{{ html_class }}__attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}

  {% if more %}
    <div class="{{ html_class }}__more">
      <a class="{{ html_class }}__more-link" href="{{ more['#url'] }}">{{ more['#title'] }}</a>
    </div>
  {% endif %}

  {% if footer %}
    <div class="{{ html_class }}__footer">
      {{ footer }}
    </div>
  {% endif %}

  {% if feed_icons %}
    <div class="{{ html_class }}__feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
