{#
/**
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <div class="{{ html_class }}__group">
    <div class="{{ html_class }}__group-title">{{ title }}</div>
    <div class="{{ html_class }}__group-content">
{% endif %}

{% for row in rows %}
  {% if row.attributes is not empty %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% else %}
    {{ row.content }}
  {% endif %}
{% endfor %}

{% if title %}
    </div> {# *__group-content #}
  </div> {# *__group #}
{% endif %}
