*,
*:before,
*:after {
  box-sizing: border-box;

  // Disable Google Chrome font boosting
  max-height: 1000000em;
  -moz-text-size-adjust: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
  overflow-y: scroll;
}
body {
  @include font();
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  position: relative; // Fix big with body min-width and absolute positioning elements
  margin: 0 auto;
  padding: 0;
  color: var(--text-color);
  background: white;
}

/* Link */
a {
  @include link();
}

/* Headline */
h1 {
  @include h1();
}
h2 {
  @include h2();
}
h3 {
  @include h3();
}

/* Paragraph */
p {
  margin: var(--p-margin) 0;
}

/* Image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
