/* Default styles */
.carousel {
  --carousel-slides-count: 1;
  --carousel-slides-gap: var(--grid-gap);
  --carousel-calculated-slide-width: #{column-width(var(--carousel-slides-count), var(--carousel-slides-gap))};
  --swiper-wrapper-transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);

  position: relative;
  margin-bottom: 50px; // Space for dots

  &:not(.swiper-container) {
    display: flex;
    align-items: stretch;
    overflow: hidden; // Hide extra slides
  }
  .swiper-wrapper {
    align-items: stretch;
  }
  &:not(.swiper-container) > *,
  .swiper-slide {
    flex-shrink: 0;
    width: var(--carousel-calculated-slide-width);
    height: auto;
    margin-right: var(--carousel-slides-gap);
    @include remove-extreme-margin(right);
  }

  // Arrows
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: opacity 0.2s;
  }

  // Dots
  .swiper-pagination {
    position: absolute;
    bottom: -30px;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin: 0 5px;
    background: black;
    opacity: 0.2;
    transition: opacity 0.2s;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

/* Slider 1 */
.carousel-preset-slider1 {
  --carousel-slides-count: 1;
}

/* Slider 2 */
.carousel-preset-slider2 {
  --carousel-slides-count: 2;

  @include media('<=900px') {
    --carousel-slides-count: 1;
  };
}

/* Slider 3 */
.carousel-preset-slider3 {
  --carousel-slides-count: 3;

  @include media('<=1000px') {
    --carousel-slides-count: 2;
  };
  @include media('<=700px') {
    --carousel-slides-count: 1;
  };
}
