/* Textfield */
@include text-inputs() {
  @include font();
  box-sizing: border-box;
  max-width: 100%;
  min-height: var(--input--height);
  margin: 0;
  border: 1px solid var(--input--border-color);
  color: var(--color-text);

  &:hover {
    --input--border-color: var(--input--hover--border-color);
  }
  &:focus {
    --input--border-color: var(--input--focus--border-color);
  }
}

/* Select */
select {
  // Hide arrow
  /*-webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }*/

  option {
    font: inherit;
  }
}

/* Button */
input[type="button"],
input[type="submit"],
button,
.form-button,
.form-submit,
.button {
  @include button();
}

/* Button: secondary */
.button--secondary {
  @include button--secondary();
}

/* Button: small */
.button--small {
  @include button--small();
}

/* Button: big */
.button--big {
  @include button--big();
}

/* Checkboxes */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: var(--checkbox--width);
  height: var(--checkbox--width);
  margin: 0;
  border: 1px solid var(--input--border-color);
  border-radius: var(--input--border-radius);
  cursor: pointer;
  outline: none;

  // Label
  & + label {
    font-weight: normal;
  }

  // Two columns
  float: left;
  & + label {
    display: block;
    padding-left: calc(var(--checkbox--width) + var(--checkbox--margin));
  }

  // Checked
  position: relative;
  &:checked::before {
    content: '';
    position: absolute;
    inset: 3px;
    background: black;
  }
}

.form-item {
  margin: var(--form-item--margin) 0;

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  &__required-symbol {
    color: red;
  }
  &__description {
    margin-top: 8px;
    font-size: 0.8em;
    filter: brightness(0.5);
  }
  &--checkboxes &--checkbox,
  &--radios &--radio {
    @include remove-extreme-margin(bottom);
    margin: 0.5em 0;
  }
  &--checkbox &__label,
  &--radio &__label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
  }
}
.fieldset-legend {
  font-weight: bold;
}
