/* jQuery UI elements */
.ui-widget {
  @include font();
}
.ui-button {
  @include button();
}

/* Overlay */
.ui-widget-overlay {
  @include overlay();
  opacity: 1;
}

/* Dialog */
.ui-dialog {
  position: fixed;
  z-index: var(--z-index-dialog);
  max-width: calc(100% - var(--page-padding) * 2);
  padding: 0;
  background-color: white;

  // Title
  .ui-dialog-titlebar {
    margin: 0;
    padding: 10px 20px;
  }

  // "Close" button
  .ui-dialog-titlebar-close {
    right: 20px;
    top: 10px;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
  }
  .ui-icon-closethick,
  .ui-button-icon-space {
    display: none;
  }

  // Content
  .ui-dialog-content {
    margin: 0;
    padding: var(--dialog-padding);

    // Fix bug when jQuery Dialog not right calculate nonContentHeight variable
    &[style="width: auto; min-height: 0px; max-height: none; height: 0px;"] {
      padding: 0;
    }
  }
}

/* Dialog animation */
.ui-widget-overlay,
.ui-dialog {
  animation-duration: var(--animation-duration);
  animation-name: dialog-open;
}
@keyframes dialog-open {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
