/* Header */
.layout__header {
  @include layout-row('&-inner');
}

/* Highlighted */
.layout__highlighted {
  @include layout-row('&-inner');
}

/* Main */
.layout__main {
  @include layout-row('&-inner');
}

/* Three columns */
.layout__main-inner {
  display: flex;
}
.layout__sidebar-first {
  order: 0;
  flex-shrink: 0;
  width: var(--sidebar-width);
  margin-right: var(--gutter-width);
}
.layout__content {
  order: 1;
  flex-grow: 1;
  min-width: 0; // Fix bug when elements in .layout__content too long and they stretching container with all other elements
}

/* Sticky footer */
html,
body,
.dialog-off-canvas-main-canvas {
  box-sizing: border-box;
  height: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.layout__main {
  flex-grow: 1;
}

/* Footer */
.layout__footer {
  @include layout-row('&-inner');
}
