@mixin font() {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

@mixin link() {
  color: var(--link--color);
  transition-property: color;
  transition-duration: 0.1s;
  text-decoration: underline;
  text-underline-offset: 1px;

  &:hover {
    color: var(--link--hover-color);
  }
}

@mixin link--current() {
  --link--color: currentColor;
  --link--hover-color: currentColor;
}

@mixin link--js() {
  text-decoration-style: dotted;
}

@mixin button() {
  @include font();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: var(--button--height);
  margin: 0;
  padding: var(--button--padding);
  border: 1px solid var(--button--border-color);
  background: var(--button--bg-color);
  color: var(--button--text-color);
  text-align: center;
  text-decoration: none;
  font-size: var(--button--font-size);

  &:hover {
    --button--border-color: var(--button--hover--border-color);
    --button--bg-color:     var(--button--hover--bg-color);
    --button--text-color:   var(--button--hover--text-color);
    color: var(--button--text-color);
  }
  &:active {
    --button--border-color: var(--button--active--border-color);
    --button--bg-color:     var(--button--active--bg-color);
    --button--text-color:   var(--button--active--text-color);
    color: var(--button--text-color);
  }
}

@mixin button--secondary() {
  --button--border-color: var(--button--secondary--border-color);
  --button--bg-color:     var(--button--secondary--bg-color);
  --button--text-color:   var(--button--secondary--text-color);
}

@mixin button--small() {
  --button--height:    var(--button--small--height);
  --button--padding:   var(--button--small--padding);
  --button--font-size: var(--button--small--font-size);
}

@mixin button--big() {
  --button--height:  var(--button--big--height);
  --button--padding: var(--button--big--padding);
  --button--font-size: var(--button--big--font-size);
}

@mixin ajax-animation() {
  --dark-line-color: rgba(0, 0, 0, 0.05);
  --light-line-color: rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(135deg,
    var(--dark-line-color) 0%, var(--dark-line-color) 25%,
    var(--light-line-color) 25%, var(--light-line-color) 50%,
    var(--dark-line-color) 50%, var(--dark-line-color) 75%,
    var(--light-line-color) 75%, var(--light-line-color) 100%
  ) !important;
  background-size: 50px 50px !important;
  background-repeat: repeat !important;
  animation: ajax-loading 1.5s linear infinite !important;
}

@mixin h1() {
  font-size: var(--h--font-size--1);
}

@mixin h2() {
  font-size: var(--h--font-size--2);
}

@mixin h3() {
  font-size: var(--h--font-size--3);
}

@mixin dark-block() {
  --text-color: white;
  color: var(--text-color);
}
