/* Block with paragraphs */
.block-par {
  // Background
  &:has(&__image) {
    position: relative;
  }
  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  &__image-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Block with paragraphs: height by background image */
.block-par--height-by-image {
  // Height by image
  display: grid;
  grid-template-areas: 'content';
  .block-par__image,
  .block-par__content {
    grid-area: content;
  }

  position: initial;

  .block-par__image {
    position: initial;
    inset: initial;
    z-index: initial;
  }
  .block-par__image-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Block with paragraphs: full width background */
.block-par--full-width-bg {
  .block-par__image {
    @include full-width();
  }
}

/* Teasers */
.teasers-par {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--grid-gap);

  /* Columns */
  &--columns-2 { --columns: 2; }
  &--columns-3 { --columns: 3; }
  &--columns-4 { --columns: 4; }
  &--columns-5 { --columns: 5; }
}

/* Teaser */
.teaser-par {
  &__text {
    @include remove-extreme-p-margins();
  }
}

/* Teaser: Icon left */
.teaser-par--icon-left {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--grid-gap);
}
