/* Overlay */
.overlay {
  @include overlay();
  transition-property: opacity, visibility;
  transition-duration: 0.1s;

  // Hide overlay by default
  opacity: 0;
  visibility: hidden;

  &--visible {
    // Show overlay
    opacity: 1;
    visibility: visible;
  }

  &--ajax-loader::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3) url('/themes/xbase/img/loader.svg') center no-repeat;
  }
}

/* Ajax progress animation */
.ajax-progress-animation {
  @include ajax-animation();
}

/* Status messages */
.status-messages {
  margin-bottom: 20px;
  padding: 0;
}

/* Status message */
.status-message {
  @include remove-extreme-margin(bottom);
  margin-bottom: 20px;
  padding: 15px 20px 15px 40px;
  border-radius: 0 2px 2px 0;
  background: no-repeat 1.2em 1.2em;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &--status {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    background-image: url(../../../core/misc/icons/73b355/check.svg);
    box-shadow: inset 8px 0 0 #77b259;
  }
  &--warning {
    background-color: #fdf8ed;
    background-image: url(../../../core/misc/icons/e29700/warning.svg);
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
    color: #734c00;
    box-shadow: inset 8px 0 0 #e09600;
  }
  &--error {
    background-color: #fcf4f2;
    color: #a51b00;
    background-image: url(../../../core/misc/icons/e32700/error.svg);
    border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
    box-shadow: inset 8px 0 0 #e62600;
  }

  & > ul {
    padding-left: 20px;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul:last-child {
    margin-bottom: 0;
  }
}

/* Breadcrumbs */
.breadcrumb {
  margin: 0;
  padding: 0;

  &__item {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item:before {
    content: var(--breadcrumb-separator);
    display: inline-block;
    margin: 0 0.4em;
    vertical-align: middle;
  }
  &__item:first-child:before {
    display: none;
  }
}

/* Pager */
.pager {
  margin-top: 20px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin: 0;
    padding: 0;
  }
  &__item::before {
    display: none;
  }
  &__link {
    display: block;
    text-align: center;
  }
  &__item--active &__link {
    font-weight: bold;
  }
}

/* Fancybox */
html.with-fancybox {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}
body.compensate-for-scrollbar {
  overflow: initial !important;
  padding-right: var(--page-padding) !important;
}

/* Dark block */
.dark-block {
  @include dark-block();
}
