$page-max-width: 1920px;
$page-min-width: 320px;
$page-content-max-width: 960px;
$page-padding: 20px;
$scrollbar-width: 20px;
$breakpoints: (
  'desktop': $page-content-max-width + $page-padding * 2 + $scrollbar-width,
  'tablet': 640px,
  'mobile': 480px,
);

:root {
  --color-black: black;
  --color-brand: #1191F2;

  --font-family: Tahoma, sans-serif;
  --font-family-second: Arial, sans-serif;
  --font-size: 14px;
  --line-height: 1.5;
  --page-max-width: #{$page-max-width};
  --page-content-max-width: #{$page-content-max-width};
  --page-min-width: #{$page-min-width};
  --page-padding: #{$page-padding};
  --scrollbar-width: #{$scrollbar-width};
  --correct-100vw: calc(100vw - var(--scrollbar-width));
  --page-current-width: min(var(--correct-100vw), var(--page-max-width));
  --page-free-space: calc((var(--page-current-width) - min(var(--page-current-width), var(--page-content-max-width))) / 2);
  --sidebar-width: 20%;
  --breadcrumb-separator: '/';
  --overlay-background: rgba(0, 0, 0, 0.5);
  --dialog-padding: var(--page-padding);
  --animation-duration: 0.2s;
  --p-margin: 25px;
  --text-color: var(--color-text);
  --link--color: var(--color-red);
  --link--hover-color: var(--color-red);

  --h--font-size--1: 26px;
  --h--font-size--2: 22px;
  --h--font-size--3: 18px;

  // Form
  --form-item--margin: 20px;

  // Button: primary
  --button--primary--height:               30px;
  --button--primary--padding:              10px 15px;
  --button--primary--border-color:         black;
  --button--primary--bg-color:             white;
  --button--primary--text-color:           black;
  --button--primary--font-size:            var(--font-size);
  --button--primary--hover--border-color:  var(--button--primary--border-color);
  --button--primary--hover--bg-color:      var(--button--primary--bg-color);
  --button--primary--hover--text-color:    var(--button--primary--text-color);
  --button--primary--active--bg-color:     var(--button--primary--hover--bg-color);
  --button--primary--active--border-color: var(--button--primary--hover--border-color);
  --button--primary--active--text-color:   var(--button--primary--hover--text-color);
  // Button: secondary
  --button--secondary--border-color:       black;
  --button--secondary--bg-color:           white;
  --button--secondary--text-color:         black;
  // Button: small
  --button--small--height:                 20px;
  --button--small--padding:                5px 10px;
  --button--small--font-size:              var(--button--primary--font-size);
  // Button: big
  --button--big--height:                   40px;
  --button--big--padding:                  15px 30px;
  --button--big--font-size:                var(--button--primary--font-size);
  // Button: current
  --button--height:                        var(--button--primary--height);
  --button--padding:                       var(--button--primary--padding);
  --button--border-color:                  var(--button--primary--border-color);
  --button--bg-color:                      var(--button--primary--bg-color);
  --button--text-color:                    var(--button--primary--text-color);
  --button--font-size:                     var(--button--primary--font-size);
  --button--hover--border-color:           var(--button--primary--hover--border-color);
  --button--hover--bg-color:               var(--button--primary--hover--bg-color);
  --button--hover--text-color:             var(--button--primary--hover--text-color);
  --button--active--border-color:          var(--button--primary--active--border-color);
  --button--active--bg-color:              var(--button--primary--active--bg-color);
  --button--active--text-color:            var(--button--primary--active--text-color);

  // Input
  --input--height:              var(--button--height);
  --input--padding-h:           10px;
  --input--padding-v:           15px;
  --input--border-color:        black;
  --input--hover--border-color: var(--input--border-color);
  --input--focus--border-color: var(--input--border-color);

  // Checkbox
  --checkbox--width: 20px;
  --checkbox--margin: 10px;

  // Float label
  --float-label--animation-duration: var(--animation-duration);
  --float-label--default--top:       calc((var(--input--height) - var(--font-size)) / 2.6);
  --float-label--default--left:      var(--input--padding-v);
  --float-label--default--color:     var(--color-text-secondary);
  --float-label--default--font-size: var(--font-size);
  --float-label--active--top:        3px;
  --float-label--active--left:       var(--float-label--default--left);
  --float-label--active--color:      var(--float-label--default--color);
  --float-label--active--font-size:  13px;

  --z-index-overlay: 10;
  --z-index-dialog: 11;

  --grid-columns: 12;
  --grid-gap: 40px;

  --local-task--background-color: #EDEDEE;
  --local-task--background-color-hover: #DADADE;
  --local-task--background-color-active: #7C7D7F;
  --local-task--font-size: 14px;
  --local-task--text-color: inherit;
  --local-task--text-color-hover: inherit;
  --local-task--text-color-active: white;

  @include media('<=mobile') {
    --page-padding: 15px;
  }
}
