p {
  margin: 1em 0;
}

.table {
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    background: #F3F3F3;
  }
  th,
  td {
    padding: 5px 7px;
    border: 1px solid #C8C8C8;
  }
}
