{% if items %}
  <ul{{ attributes }}>
    {% for item in items %}
      <li class="{{ html_class }}__item">
        <span class="{{ html_class }}__item-key">{{ item.key }}</span>
        {%- if separator -%}
          <span class="{{ html_class }}__item-separator">{{ separator }}</span>
        {%- endif -%}
        <span class="{{ html_class }}__item-value">{{ item.value }}</span>
      </li>
    {% endfor %}
  </ul>
{% endif %}

