{% if tabs is not empty %}
  <div{{ attributes }}>
    <ul class="tabs__nav">
      {% for tab_id, tab in tabs %}
        <li{{ create_attribute(tab['#nav_attributes']) }}>
          <a class="tabs__nav-link" href="{{ tab['#url'] }}">{{ tab['#title'] }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if not element['#without_panels'] %}
      <div class="tabs__panels">
        {% for tab_id, tab in tabs %}
          <div{{ create_attribute(tab['#panel_attributes']) }}>
            <div class="tabs__panel-title">{{ tab['#title'] }}</div>
            <div class="tabs__panel-content">{{ tab }}</div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
